/*lenguaje de estilos - de diseño web 
css-- hojas de estilos en cascada

por cada proyecto una hoja de estilos de css

*/
/*esto es un comentario en css
es multilinea

sintaxis basica de css:


selector{

    propiedad:valor;
    propiedad:valor;
    propiedad:valor;
    propiedad:valor;

}

3 selectores principales
selector de etiqueta - el menos especifico 
selector de class = clasificando un sector especifico de mi html, y puedo reutilizar esa clasificacion en otro sector - nivel intermedio de especificidad

selector de id = identificador unico de un sector de mi html - la manera más especifica de dar estilados

*/

/*estilados del body
#body{
    background-color :rgb(0, 162, 255);
}
.body{
    background-color :rgb(255, 128, 0);
}
body{
    background-color :pink;
}
body{
    background-color :rgb(255, 0, 0)!important;
}*/
/*
header{
    background-color:rgb(255, 0, 0);
}

div{
    background-color:rgb(112, 112, 239);
}

/*el selector de clase se lo llama a traves de un punto

.card{
    background-color:rgb(135, 239, 112);
}*/

.body{
    background-color:pink;
    font-size:50px;
    color:rgb(27, 27, 27);
}

body  nav ul li a{
    color:rgb(241, 5, 5);
    text-decoration:none;
}
a{
    color:rgb(241, 5, 237);
   
}

.navegacion .listaNav .itemLista a{
    color:rgb(241, 99, 5);
    text-decoration:none;
}